In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

In [2]:
file = Path('Resources/2017-2021_Spotify_Top_200.csv')

In [3]:
music_df = pd.read_csv(file, encoding="UTF-8")
music_df.head()

/var/folders/kd/9g_zryd90yz1qzjl3rghyc040000gq/T/ipykernel_2278/2230606908.py:1: DtypeWarning: Columns (10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  music_df = pd.read_csv(file, encoding="UTF-8")

,Position#Track Name#Artist#Streams#Date#Genre,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,1#Starboy#The Weeknd#3135625#2017-01-01#['cana...,'canadian contemporary r&b','pop'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2#Closer#The Chainsmokers#3015525#2017-01-01#[...,'pop dance','tropical house','edm','electropop','dance pop'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3#Let Me Love You#DJ Snake#2545384#2017-01-01#...,'electronic trap','dance pop','edm','pop dance','pop rap'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4#Rockabye (feat. Sean Paul & Anne-Marie)#Clea...,'uk dance','dance pop','uk funky','tropical house','pop dance','post-teen pop','edm'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5#One Dance#Drake#2259887#2017-01-01#['toronto...,'canadian pop','canadian hip hop','rap','pop rap','hip hop'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
music_df = music_df[["Position#Track Name#Artist#Streams#Date#Genre"]]
music_df

            Position#Track Name#Artist#Streams#Date#Genre
0       1#Starboy#The Weeknd#3135625#2017-01-01#['cana...
1       2#Closer#The Chainsmokers#3015525#2017-01-01#[...
2       3#Let Me Love You#DJ Snake#2545384#2017-01-01#...
3       4#Rockabye (feat. Sean Paul & Anne-Marie)#Clea...
4       5#One Dance#Drake#2259887#2017-01-01#['toronto...
...                                                   ...
321195  196#Best Friend (feat. Doja Cat)#Saweetie#7902...
321196  197#Wonderwall - Remastered#Oasis#789099#2021-...
321197  198#MI FAI IMPAZZIRE#BLANCO#788966#2021-07-17#...
321198  199#Adore You#Harry Styles#788033#2021-07-17#[...
321199  200#Follow You#Imagine Dragons#785417#2021-07-...

[321200 rows x 1 columns]

In [5]:
music_df = music_df['Position#Track Name#Artist#Streams#Date#Genre'].str.split('#', expand=True)

music_df

,0,1,2,3,4,5,6
0,1,Starboy,The Weeknd,3135625,2017-01-01,['canadian pop',None
1,2,Closer,The Chainsmokers,3015525,2017-01-01,['pop',None
2,3,Let Me Love You,DJ Snake,2545384,2017-01-01,['pop',None
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,2017-01-01,['pop',None
4,5,One Dance,Drake,2259887,2017-01-01,['toronto rap',None
...,...,...,...,...,...,...,...
321195,196,Best Friend (feat. Doja Cat),Saweetie,790257,2021-07-17,['trap queen',None
321196,197,Wonderwall - Remastered,Oasis,789099,2021-07-17,['madchester',None
321197,198,MI FAI IMPAZZIRE,BLANCO,788966,2021-07-17,['italian pop',None
321198,199,Adore You,Harry Styles,788033,2021-07-17,['pop',None
321199,200,Follow You,Imagine Dragons,785417,2021-07-17,['modern rock',None

In [6]:
music_df.columns = ["Chart Position", "Song Title", "Artist Name", "Stream Count", "Date", "Genre", "Null"]
music_df = music_df[["Chart Position", "Song Title", "Artist Name", "Stream Count", "Date", "Genre"]]
music_df.head()

,Chart Position,Song Title,Artist Name,Stream Count,Date,Genre
0,1,Starboy,The Weeknd,3135625,2017-01-01,['canadian pop'
1,2,Closer,The Chainsmokers,3015525,2017-01-01,['pop'
2,3,Let Me Love You,DJ Snake,2545384,2017-01-01,['pop'
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,2017-01-01,['pop'
4,5,One Dance,Drake,2259887,2017-01-01,['toronto rap'

In [7]:
music_df[["Year", "Month", "Day"]] = music_df["Date"].str.split('-', expand=True)
music_df.head()

,Chart Position,Song Title,Artist Name,Stream Count,Date,Genre,Year,Month,Day
0,1,Starboy,The Weeknd,3135625,2017-01-01,['canadian pop',2017,01,01
1,2,Closer,The Chainsmokers,3015525,2017-01-01,['pop',2017,01,01
2,3,Let Me Love You,DJ Snake,2545384,2017-01-01,['pop',2017,01,01
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,2017-01-01,['pop',2017,01,01
4,5,One Dance,Drake,2259887,2017-01-01,['toronto rap',2017,01,01

In [8]:
music_df = music_df[["Chart Position", "Song Title", "Artist Name", "Stream Count", "Date", "Genre", "Year"]]
music_df.head()

,Chart Position,Song Title,Artist Name,Stream Count,Date,Genre,Year
0,1,Starboy,The Weeknd,3135625,2017-01-01,['canadian pop',2017
1,2,Closer,The Chainsmokers,3015525,2017-01-01,['pop',2017
2,3,Let Me Love You,DJ Snake,2545384,2017-01-01,['pop',2017
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,2017-01-01,['pop',2017
4,5,One Dance,Drake,2259887,2017-01-01,['toronto rap',2017

In [9]:
music_df["Genre"] = music_df["Genre"].astype("string")
music_df.dtypes

Chart Position    object
Song Title        object
Artist Name       object
Stream Count      object
Date              object
Genre             string
Year              object
dtype: object

In [10]:
music_df = music_df[["Stream Count", "Date", "Genre", "Year"]]
music_df.head()

  Stream Count        Date            Genre  Year
0      3135625  2017-01-01  ['canadian pop'  2017
1      3015525  2017-01-01           ['pop'  2017
2      2545384  2017-01-01           ['pop'  2017
3      2356604  2017-01-01           ['pop'  2017
4      2259887  2017-01-01   ['toronto rap'  2017

In [11]:
music_df = music_df.set_index("Year")
music_df.head()

     Stream Count        Date            Genre
Year
2017      3135625  2017-01-01  ['canadian pop'
2017      3015525  2017-01-01           ['pop'
2017      2545384  2017-01-01           ['pop'
2017      2356604  2017-01-01           ['pop'
2017      2259887  2017-01-01   ['toronto rap'

In [12]:
rows_ = ["2019"]
columns_ = ["Stream Count", "Date", "Genre"]
music_df = music_df.loc[rows_,columns_]
music_df.head()

     Stream Count        Date           Genre
Year
2019      3883836  2019-01-01      ['dfw rap'
2019      3195966  2019-01-01      ['dfw rap'
2019      2777884  2019-01-01  ['trap latino'
2019      2624453  2019-01-01   ['slap house'
2019      2618489  2019-01-01          ['pop'

In [24]:
music_df["Genre"].unique()

<StringArray>
[                     'Rap',           "['trap latino'",
            "['slap house'",                   "['pop'",
      "['puerto rican pop'",               "['brostep'",
     "['argentine hip hop'",           "['melodic rap'",
                   "['rap'",            "['vapor trap'",
 ...
 "['classic canadian rock'",            "['german pop'",
        "['cowboy western'",            "['girl group'",
        "['heartland rock'",          "['country dawn'",
         "['christian pop'",            "['jazz trio']",
   "['modern country rock'",         "['new wave pop']"]
Length: 229, dtype: string

In [30]:
music_df["Genre"] = music_df["Genre"].replace({"['dfw rap'": "Rap"})